body {
  margin-left: 250px;
}

#gamewindow {
  display: flex;
  justify-self: center;

  width: 800px;
  height: 600px;
  position: absolute;
}

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#box {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 500px;
  left: 300px;

}

#bird {
  height: 60px;
}

#obs1 {
  position: absolute;
  right: 100px;
  background-color: black;
  height: 400px;
  width: 100px;
  bottom: 0;
}

#obs2 {
  position: absolute;
  right: 0;
  background-color: green;
  height: 200px;
  width: 100px;
  bottom: 0;
}

.obstacle {
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
}

.obstacleTop {
  background-color: black;
  position: absolute;
  right: 0;
  /* top: 0; */
  z-index: 4;
}
